*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
	background:black;
	color:grey;
  font-family: "Lucida Console", Courier, monospace;
}
nav{
  background: #1f1f1f;
  height: 57px;
  width: 150%;
  display:table;
}
.logo{
  background: url(./img/logo.png) no-repeat 50% 50%;

  background-size: contain;
  width: 60px;
  height: 60px;
  float: left;
  margin-left: 5%;
  margin-top: -1px;

}
#menu{
	margin-left:10%;
	top:10px;
	width:200px;
	height:200px;
	background:black;
}
#btn{
	font-family: "Lucida Console", Courier, monospace;
	float:left;
	position:relative;
	margin-left:1%;
	margin-top:21px;
	width:70px;
	height:20px;
}
#btn a{
	color:white;
}
#btn:hover a{

}
#btn p{
	margin-left:25px;
	margin-top:-15px;
}
#btn span{
	display:flex;
  margin:3px;
  width: 18px;
  height: 2px;
  background: rgba(161, 159, 145, 1);
  font-size:50px;
}
#btn:hover span{
	background:#F0F0F0;
}
.navbar ul{
	position:absolute;
  width: 200px;
  background: rgba(0,0,0,0.70);
  overflow: hidden;
  margin-top: 60px;
  line-height:124%;
  left: 170px;
}
.menu{
  max-height: 0;
}
ul li {
  padding: 0px;
  border-bottom:1px solid black;
  line-height: 300%;
  display:block;
}
ul li a {
  color: white;
  text-decoration: none;
  font-weight: 700;
  margin-left:3%;
  transition: color 0.3s;
  text-transform: uppercase;
  transition: 0.7s ease;
}
ul li:hover a{
  padding-left: 30px;
  padding-right: 10px;
  color: yellow;
  font-family: bold;
}
.show{
	max-height:100%;
	max-width:100%;
  z-index: 1;
}
@media only screen and(min-width:600px) {


}
#oppa{
	background:white;
	margin-left:3%;
	margin-right:3%;
	margin-top:1.5%;
	box-sizing:border-box;
	border-radius:3px;
}
#fuckingleft{
	width:70%;
	height:100%;
	border-right:1px solid grey;
	float:left;
  margin-top:0px;
}
#fuckingright{
	width:30%;
	height:100%;
  margin-top:0%;
	border-left:none;
  display: inline-block;
}
#both{
	clear:both;
	background:white;
	height:80px;
	border-top:2px solid grey;
}


/* Slideshow container */
.slideshow-container {
max-width: 1000px;
position: relative;
margin: auto;
margin-top: 0px;
overflow: hidden;
cursor: default;
}
.slideshow-container .mySlides:hover{
  filter: blur(0px);
}
.slideshow-container a:hover{
  border: 2px solid white ;
}
.fuck{
  border: none;
  width: 100%;
  height: 200px;
  position:absolute;
  display: block;
  margin-top: -200px;
  background: rgba(0,0,0,0.6);
}
.fuck:hover{
  box-shadow:0 0 5px #fff;
}
.mySlides img{
  display:block;
  position:relative;
  -webkit-transition:all .0s linear;
  transition:all .3s linear;
}
.mySlides:hover img{
  -ms-transform:scale(0.2);
-webkit-transform:scale(0.2);
transform:scale(1.1);
filter: brightness(70%);
}

/* Next & previous buttons */
.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
padding: 16px;
margin-top: -22px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}

/* Position the "next button" to the right */
.next {
right: 0;
border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
color: #f2f2f2;
font-size: 2em;
left: 50%;
padding: 8px 12px;
position: relative;
margin-top: 120px;
width: 50%;
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
}
.text:hover{
  font-size: 3em;
  filter: none;
  color: red;
}
/* Number text (1/3 etc) */
.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}
.mySlides fade{
}
/* this is z index 3d */
.logos {
  position: relative;
  margin-top: -300px;
  margin-left: 10px;
}
.play{
  position: relative;
background: url(./img/playwhite.png);
background-repeat: no-repeat;
background-size: 110px 110px;
height: 200%;
margin-top: -150px;
margin-left: 230px;
transition: 1s ease;
}
.play:hover{
  background: url(./img/play.png);
  background-repeat: no-repeat;
  background-size: 120px 120px;
  height: 200%;
  margin-top: -150px;
  margin-left: 230px;
}

/* The dots/bullets/indicators */
.dot {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display:none;
transition: background-color 0.6s ease;
}

.active, .dot:hover {
background-color: #717171;
}

/* Fading animation */
.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;
}
#fuckingright{
  background: rgba(15, 15, 15,0.80);
  width: 100%;
  height: 100%;
}
@-webkit-keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

/* On smaller screens, decrease text size */

@media only screen and (max-width: 1000px) {
  nav{ height: 60px}
  #oppa{margin-left: 1%;margin-right: 1%;}
.prev, .next,.text {font-size: 20px}
.logos img {width: 60px}
#fuckingleft{
  margin-top: 0.2px;
  width: 100%;
  float:none;
  height: 100%;
}
#fuckingright{
  width: 100%;
}
.navbar ul{
  left: 89px;
  width: 130px;
}
#fuckingright{
  display: none;
}
.fuck{
  height:60px;
  margin-top: -60px;
  width: 100%;
}
.fuck .logos{
  margin-top: -190px;
}
.fuck .text{
  margin-top:100px;
}
.play{
  background-size: 50px 50px;
  margin-left: 80px;
  margin-top: -50px;
}
.play:hover{
  background-size: 50px 50px;
  margin-left: 80px;
  margin-top: -50px;
}
}
